#root {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

nav a {
  display: block; 
  margin: 10px 10px;
  font-size: 1.2rem; 
  color: black; 
  text-decoration: none; 

}

nav a:hover {
  color: #007bff; 
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}

.App.light, .App.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}